#divDescription {
	/*max-width: 30em;*/
	text-align: justify;
	/*margin: auto;*/
/*	border-style: solid; 
	border-width: thin; 
	border-color: black;*/
}

h3 {
	font-family: monospace; 
	color: black;
}

.divMain {
	/*min-width: 32em;*/
	max-width: 30em;
/*    position: absolute;
    left: 0;
    right: 0;*/
    margin: auto;
	/*margin-top: auto;*/
    /*margin-right: auto;*/
    /*margin-left: auto;*/
    /*margin-bottom: auto;*/
}

@media screen and (min-width: 600px) {
    .divMain {
        margin-top: 2em;
    }
}

header {
	border-style: solid; 
	border-width: thin; 
	border-color: black;
	text-align: center;
	/*border-top: solid thin black;*/
	/*border-left: solid thin black;*/
	/*border-right: solid thin black;*/
	/*max-width: 32em;
	position: absolute;
    left: 0;
    right: 0;
    margin: auto;*/
}

.pErrorMessage {
	/*text-align: center;*/
	/*padding-left: auto;*/
	/*font-size: small;*/
	color: red;
}

.divBottom {
	/*text-align: center;*/
	border-left: solid thin black;
	border-right: solid thin black;
	border-bottom: solid thin black;
	padding: 0px;
}

.divEmail {
	text-align: center;
	/*text-decoration: none;*/
	border-left: solid thin black;
	border-right: solid thin black;
}

.divCenter {
	border-style: solid; 
	border-width: thin; 
	border-color: black;
}

.buttonBottom {
	/*margin: 5%;*/
	/*padding: 10px;*/
	width: 100%;
	/*margin-top: 5%;*/
	/*margin-bottom: 5%;*/
	/*border: solid thin black;*/
	/*border-right: solid thin black;*/
	/*border-bottom: solid thin black;*/
}

.inputMask {
	display: none;
}

.buttonDishes {
	width: 100%;
	text-align: left;
}

/*#divDescription {
	display: none;
}*/

/*@media screen and (min-height: 500px) {
	#divDescription {
		display: block;*/
/*		position: fixed;
	  	bottom: 0;
	  	right: 1em;*/
		/*text-align: right;*/
		/*margin-right: 3em;*/
/*	}
}*/

/*textarea {
	display: none;	
}*/